@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; box-sizing: border-box;}
li{list-style-type: none;}
a{color: black; text-decoration: none;}

.buswrap{
        margin: 0px auto;
        width:65%;
        
        
}

.statebtn{
    
        width: 50px;
        height: 50px; 
        font-size: 18px; 
        padding-left: 1px ; 

  
}
.statebt{
    
        width: 50px;
        height: 50px; 
        font-size: 18px; 
        padding-left: 4px ; 

  
}
.btncontain{
        margin: 0px auto;
}
.buswidth{
        margin-left: 6px;
        margin-right: 6px;
}

.resvbus{
        width: 500px;
        margin: 0px auto;
        margin-top: 10px;
        border : 1px solid #004aad;
        border-radius: 5px;
        padding : 10px;
        background-color: white !important;
     
}
.bus2{
     
        margin: 0px auto;
        width: 320px;
        margin: 0px auto;
        margin-top: 10px;
        border : 1px solid #004aad;
        border-radius: 5px;
        padding : 10px;
        height: 120px;
        background-color: white !important;
        align-items: center;
        width: 250px;
        font-weight: bold;
        color: #353535 ;
        padding-left: 20px;
    
}
.buswidth{
        display: flex;
        justify-content: space-between
}
img{
        width :50px;
        height: 50px;
        margin-bottom: 10px;
}
.nextPageBtn{
        margin: 0px auto !important;
        width: 250px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        background-color: white !important;
        color: #004aad !important;
        border-radius: 10px !important;
        border: 2px solid #004aad !important;
}

.nextPageBtn:hover{
        background-color: #004aad !important;
        color: white !important;
}

.busflex{
        display: flex;
        gap:30px;
        justify-content: center;
        
}
.totalPrice{

        font-weight: bold;
}
.bus3{
        margin-top: 0px !important;
    
}
.seatinfo{
        display: flex;

}
.info1{
        margin: 0px auto;
        width: 120px;
        display: hidden;
        
}
.infoname{
        display: flex;
        justify-content: center
}

.css-ncczr9-JoyButton-root, .css-jnvbf8-JoyButton-root{
        padding-bottom: 16px !important;
}
li{
        margin-left : 10px !important; 
}