@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; box-sizing: border-box;}
/* *{border: 1px solid black;}*/
li{list-style-type: none;}
a{color: black; text-decoration: none;}
button, input{cursor: pointer;}

#container{ 
    padding: 100px 50px;   
}
h1{
    margin-left: 30px;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 730px;
    padding: 30px;
}
.subTit {
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.subCont{
    width: 340px;
    height: 40px;
    margin: 5px 0px 20px 0px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}
.timeSubCont{
    margin-bottom: 30px;
}
hr{
    border: 1px solid #d4d4d4;
    width: 70%;
    margin: 10px auto;
}
.adCreateBtn, .vUpdateBtn, .vDeleteBtn, .viewLogBtn, .dvUpdateBtn, .dvDeleteBtn, .tvUpdateBtn, .tvDeleteBtn{
    background-color: #ff914d;
    width: 50%;
    height: 50px;
    color: #ffff;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.vContent, .adTcreate, .adDview, .adTview{
    background-color: #f1f1f1;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 80px 0px 50px 0px;
    height: 730px;
}
.adTcreate{
    padding: 50px 0px 50px 0px;
}
.adTview{
    padding: 43px 0px;
}
.adDview{
    padding: 52px 0px;
}
.dvUpdateBtn, .dvDeleteBtn, .tvUpdateBtn, .tvDeleteBtn{
    width: 25%;
}
.dvUpdateBtn, .tvUpdateBtn{
    margin-top: 0px;
    margin-right: 5px;
}
.dvDeleteBtn, .tvDeleteBtn{
    background-color: #004aad;
    margin-top: 0px;
}
.vDeleteBtn{
    background-color: #004aad;
    margin-top: 10px;
}



/* 버스 등록*/
.radioBox{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.radio{
    font-size:20pt; 
    width:20px;
    height:20px;
    
}
.radioBox > div{
    font-size: 20px;
}

.createBox{
    padding-top: 150px;
}
.adCreateBtn{
    margin-top: 20px;
    background-color: #ff914d;
    font-size: 13.3px;
}


/* mui */
.css-10o2lyd-MuiStack-root{
    justify-content: center;
}



/* ㅇㅇ별 조회 */
.pickContent{
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 730px;
    padding: 30px;
}
.pickTop, .viewTop{
    display: flex;
    justify-content: center;
}
.pickTop{
    margin-bottom: 30px;
}
.viewFind{
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.pickTit{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
table{
    text-align: center;
    width: 100%;
    background-color: #ffff;
    margin: 0 auto;
    /* padding: 30px; */
}
.tableBox, .tableBox2, .excelTableBox{
    width: 100%;
    background-color: #ffff;
    border-radius: 20px;
    height: 560px;
    min-height: 560px;
    padding: 30px;
}
.tableBox2{
    height: 610px;
    min-height: 610px;
    padding-top: 55px;
}
.excelTableBox{
    width: 670px;
    height: 250px;
    min-height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
}
thead{
    width: 100%;
    position: sticky;
}
thead > tr > th:first-child{
    width: 10%;
}
thead > tr > th:nth-child(2),
thead > tr > th:nth-child(3){
    width: 12%;
}
thead > tr > th{
    width: 15%;
    height: 50px;
    background-color: #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.bodyTr{
    max-height: 45px;
    width: 100%;
}
tbody > tr > td{
    height: 43px !important;
    border-bottom: 1px solid #d4d4d4;
}
.bodyTr:hover td, .bodyTr:hover td >.link > button{
    font-weight: bold;
}
.css-1c5o7vy-MuiPagination-ul{
    justify-content: center;
}
.page{
    margin-top: 15px;
    justify-content: center;
    position: sticky;
    z-index: 1000;
    top: 90%;
    left: 50%;
}
tbody > tr > td > .link > .viewBtn,
tbody > tr > td > .link > .viewBtnSeat{
    background-color: #ff914d;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
.prints{
    margin-top: 5px;
    height: 40px;
    background-color: #004aad;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 13px;
    cursor: pointer;
    position: fixed;
    right: 80px;
}



/* 버스기사 */
.profile{
    border: none;
    padding: 0px;
}
.bcreateBtn{
    margin-top: 30px;
}
.viewBtnSeat{
    background-color: #004aad !important;
}
.profileBox > img{
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 30px;
    /* border: 5px solid #d4d4d4; */
}
.viewLogBtn{
    margin-top: 10px;
}
.adDviewBtnBox, .adTviewBtnBox{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}




/* 관리자 홈 화면 */
.hContent{
    display: flex;
    justify-content: space-between;
}
.hMainCont{
    width: 75%;
}



/* 우수 기사 */
.hTopCont{
    margin-bottom: 70px;
}
.driverRank{
    display: flex;
    justify-content: space-around;
    margin: 60px;
}
.ranker{
    text-align: center;
}
.box1st > img{
    width: 140px;
    height: 140px;
    min-width: 140px;
    max-width: 140px;
    border-radius: 20px;
}
.box2nd > img, .box3rd > img{
    width: 110px;
    height: 110px;
    min-width: 110px;
    max-width: 110px;
    border-radius: 20px;
}
.tit2nd, .tit3rd{
    margin-top: 30px;
}


/* 알림 */
#notifications{
    width: 25%;
    background-color: #eeeeee;
    margin: 30px;
    border-radius: 40px;
}
.notiTit{
    background-color: #ff914d;
    height: 70px;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    padding-top: 23px;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 20px;
}
.notiCont{
    padding: 10px 20px;
}





/*Excel로 스케줄 등록*/
input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #D4D4D4;

    border:none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
    
  }
  input{
    font-size: 15px;
  }
